<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DalSoft.RestClient" version="3.3.2" targetFramework="net462" />
  <package id="Flurl" version="2.7.1" targetFramework="net45" />
  <package id="Flurl.Http" version="2.3.2" targetFramework="net45" requireReinstallation="true" />
  <package id="Microsoft.CSharp" version="4.4.1" targetFramework="net462" />
  <package id="Microsoft.Extensions.Configuration" version="2.1.1" targetFramework="net462" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="2.1.1" targetFramework="net462" />
  <package id="Microsoft.Extensions.Configuration.Binder" version="2.1.1" targetFramework="net462" />
  <package id="Microsoft.Extensions.DependencyInjection" version="2.1.1" targetFramework="net462" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="2.1.1" targetFramework="net462" />
  <package id="Microsoft.Extensions.Http" version="2.1.1" targetFramework="net462" />
  <package id="Microsoft.Extensions.Logging" version="2.1.1" targetFramework="net462" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="2.1.1" targetFramework="net462" />
  <package id="Microsoft.Extensions.Options" version="2.1.1" targetFramework="net462" />
  <package id="Microsoft.Extensions.Primitives" version="2.1.1" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net462" />
  <package id="RestSharp" version="105.2.3" targetFramework="net45" requireReinstallation="true" />
  <package id="ServiceStack" version="4.5.8" targetFramework="net45" />
  <package id="ServiceStack.Client" version="4.5.8" targetFramework="net45" />
  <package id="ServiceStack.Common" version="4.5.8" targetFramework="net45" />
  <package id="ServiceStack.Interfaces" version="4.5.8" targetFramework="net45" />
  <package id="ServiceStack.Text" version="4.5.8" targetFramework="net45" />
  <package id="System.Buffers" version="4.4.0" targetFramework="net462" />
  <package id="System.Memory" version="4.5.1" targetFramework="net462" />
  <package id="System.Net.Http" version="4.3.3" targetFramework="net462" />
  <package id="System.Numerics.Vectors" version="4.4.0" targetFramework="net462" />
  <package id="System.Runtime" version="4.3.0" targetFramework="net462" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.1" targetFramework="net462" />
  <package id="System.Runtime.InteropServices" version="4.3.0" targetFramework="net462" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.0" targetFramework="net462" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net462" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net462" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.0" targetFramework="net462" />
</packages>